name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Build
        shell: pwsh
        run: |
          pip install sphinx
          pip install solar-theme
          .\docs\make.bat html
      - name: Archive
        shell: pwsh
        run: |
          Rename-Item docs\build\html docs\build\dfir-orc-doc
          Compress-Archive docs\build\dfir-orc-doc dfir-orc-doc.zip
      - name: Upload archive
        uses: actions/upload-artifact@v3
        with:
          path: ${{ runner.temp }}/dfir-orc-doc.zip
      - name: Publish
        if: github.ref == 'refs/heads/master'
        shell: pwsh
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        run: |
          git clone --single-branch --branch master "https://$ENV:API_TOKEN_GITHUB@github.com/DFIR-ORC/dfir-orc.github.io.git"
          Copy-Item -Force -Recurse .\docs\build\html\* dfir-orc.github.io/
          cd dfir-orc.github.io/
          git add --all
          git status
          git -c "user.name=dfir-orc-bot" -c "user.email=73876579+dfir-orc-bot@users.noreply.github.com" commit -m "Update by GitHub Action"
          git push
